@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome Golden</h1>
    <h2 class="display-6">Furioza nigdy swoich nie zostawia.... NIGDY!</h2>
    <p class=""><i class="bi bi-2-circle"></i><i class="bi bi-1-circle-fill"></i><i class="bi bi-3-circle"></i><i class="bi bi-7-circle-fill"></i></p>
    <img class="img-fluid" src="images/prezesi.png" alt="Na zdjęciu są widoczne 3 samce alfa, tak zwane SIGMY"/>
    <p><i class="bi bi-apple fs-3"></i>  Don't ever be so arrogant as to believe your code is correct  <i class="bi bi-apple fs-3"></i></p>
</div>
