@{
    ViewData["Title"] = "Panel Administratora";
}

<div class="container mt-5 mb-5">
    <h2 class="fw-bold text-white text-uppercase mb-4">
        Panel <span style="color: var(--gym-primary)">Administratora</span>
    </h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card bg-dark border-secondary shadow h-100">
                <div class="card-body text-center p-4">
                    <h5 class="text-white text-uppercase mb-3">Zarządzaj Sprzętem</h5>
                    <p class="text-secondary small">Dodawaj nowe maszyny i kontroluj ich stan techniczny w różnych lokalizacjach.</p>
                    <button class="btn btn-gym w-100 rounded-pill">Przejdź</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark border-secondary shadow h-100">
                <div class="card-body text-center p-4">
                    <h5 class="text-white text-uppercase mb-3">Zarządzaj Pracownikami</h5>
                    <p class="text-secondary small">Dodawaj trenerów i przypisuj im specjalizacje.</p>
                    <button class="btn btn-gym w-100 rounded-pill">Przejdź</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark border-secondary shadow h-100">
                <div class="card-body text-center p-4">
                    <h5 class="text-white text-uppercase mb-3">Raporty Finansowe</h5>
                    <p class="text-secondary small">Sprawdzaj płatności i wykupione subskrypcje.</p>
                    <button class="btn btn-gym w-100 rounded-pill">Przejdź</button>
                </div>
            </div>
        </div>
    </div>
</div>